
p:first-letter {
	color:blue;
	font-size:60px;
	margin-left:340px;
	margin-top:300px;	
}

.c {
	color:blue;
   
	margin-left:360px;
	margin-top:-46px;
	
}
.a {
	border:1px solid grey;
	height:100px;
	width:300px;
	margin-left:270px;
	margin-top:-60px;
}
	
	